﻿body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 12px 0px;
    height: 60px;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    transition-duration: .5s;
    text-align: center;
}

    header img {
        width: auto;
        transition-duration: .5s;
    }
    header img:last-child {float:right; transition-duration:.5s;}

/* header img:last-child {float:right; transition-duration:.5s;} */


main {
    /*background: url(../Img/BG.jpg) bottom left;*/
    background-size: cover;    
    padding: 3% 0px;
    position:absolute;
    width:100%;
}
section p {
    color: #fe6f01;
    text-align: center;
}

    section p a {
        color: #F90 !important;
        text-decoration: none;
    }

.login_container {
    max-width: 450px;
    width: 90%;
    margin: auto;
    background: rgba(255,255,255,1);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

    .login_container h3 {
        color: #fe6f01;
        text-align: center;
        margin: 5px;
    }


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Set a style for all buttons */
.submit {
    background-color: #fe6f01;
    color: black;
    font-weight: bold;
    padding: 13px 13px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

    /* Add a hover effect for buttons */
    .submit:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.login_below {
    text-align: center;
    font-size: 12px;
}

    .login_below img {
        width: 150px;
        margin: 5px 0px;
    }

.center_section {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}

    .center_section p:last-child {
        margin-bottom: 0px;
    }

.left_section {
    width: 18%;
    margin-left: 8%;
    margin-right: 3%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.right_section {
    width: 18%;
    margin-right: 5%;
    margin-left: 3%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.left_section img {width:100%;}
.right_section img {width:100%;}

.media_nav {padding:10px; text-align:center; position:absolute; bottom:30px;}
		.media_nav b {font-size:16px; margin-bottom:10px; display:block; color:#FFF;}
		.media_nav ul {list-style-type:none; padding:0px; margin:0px;}
		.media_nav ul li {display:inline; width:15px; height:15px;}
		.media_nav ul li a {text-decoration:none; padding:15px; color:#FFF; line-height:15px;}

.media_nav1 {padding:10px; text-align:center;}
		.media_nav1 b {font-size:16px; margin-bottom:10px; display:block; color:#FFF;}
		.media_nav1 ul {list-style-type:none; padding:0px; margin:0px;}
		.media_nav1 ul li {display:inline; width:15px; height:15px;}
		.media_nav1 ul li a {text-decoration:none; padding:15px; color:#FFF; line-height:15px;}



.fa-facebook {
    background: #3b61ae;
    width: 16px;
    border-radius: 60%;
}

.fa-twitter {
    background: #4aacf0;
    border-radius: 60%;
}

.fa-youtube {
    background: #c31c1d;
    border-radius: 60%;
}

.fa-instagram {
    background: #CC6600;
    border-radius: 60%;
}

.media_nav img {
    cursor: pointer;
}

.login_below ul {
    padding-left: 15px;
}

    .login_below ul li {
        margin-top: 5px;
    }

.logout_container {
    max-width: 450px;
    width: 90%;
    margin: auto;
    background: rgba(13,13,13,.7);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFF;
}

    .logout_container h3 {
        color: #F30;
        text-align: center;
        margin: 5px;
    }

.logout_below {
    font-size: 11px;
    line-height:16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 45px;
        padding: 12px 12px;
    }

    body {
        overflow: auto;
    }

    .center_section {
        width: 90%;
        display: block;
        margin: auto;
    }

    .login_container {
        width: 100%;
    }

    .left_section {
        width: 90%;
    }

    .right_section {
        width: 90%;
        display: block;
        margin: auto;
    }
}


@media only screen and (max-width:800px) {
.media_nav {padding:8px; position:relative;}
		.media_nav b {font-size:14px;}
		.media_nav ul li {display:inline;}
		.media_nav ul li a {padding:10px; color:#FFF; line-height:14px;}
        .right_section {width: 90%; display: block;  margin: auto; }
        .center_section{width:100%; display:block; margin:auto;}
        .login_container {width: 100%; margin:auto;}

        .media_nav1 {padding:8px; position:relative;}
		.media_nav1 b {font-size:14px;}
		.media_nav1 ul li {display:inline;}
		.media_nav1 ul li a {padding:10px; color:#FFF; line-height:14px;}

}