
<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captive Portal</title>

    <!----- <link rel="icon" href="content/images/FINAL-LOGO.png" type="image/gif" sizes="16x16">------>

    <!----- BOOT-CSS ------>
    

    <!----- Sweet Alert -CSS ------>
    <link rel="stylesheet" href="content/plugins/sweetalert/sweetalert2.min.css">
    <!----- CSS ------>
    <link href="content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="content/css/style.css" />
    <!-----FontAwsom CSS ------>
    <link rel="stylesheet" type="text/css" href="content/css/font-awesome.min.css" />

</head>
<body>
    
        <header>
                        <img src=content/images/ionlogo.png height="56px" style="float:left" />
                    <img id="bottomlogo" src=content/images/MITLogo.jpg height="56px" style="display:none" />
        </header>

<main style="background: url(content/images/bgs.jpg) bottom left; background-repeat: no-repeat; background-size:cover; height: 100%;">
    <section class="left_section">

    </section>

    <section class="center_section" id="dvlogin">
                <p style="margin-top:0px;">Welcome to I-ON Customer Portal for <a href=http://www.dvois.com/ target="_blank">MIT Manipal</a></p>

        <div class="login_container" id="logcheck" style="display: none;">
            <h3>I-ON Customer</h3>
            <form name="login" action="<%  Response.Write(linkloginonly); %>" method="post">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" id="cpusername" name="username" required />

                <label for="psw"><b>Password</b></label>
                <input type="password" id="cppassword" placeholder="Password" name="password" required />
                <center>
                    <input type="submit" id="btnLogin" value="Login" class="submit" style="width:35% !important">
                    
                </center>
                <br />
                <label>
                    <input type="checkbox" checked="checked" id="chkrem" name="rememberMe" /> Remember me
                </label>

                <div id="forgotpass" style="display: none;  float: right; top: 58%;" class="col-lg-12 col-md-12 col-xs-12">
                    <a style="color: #000; cursor: pointer;" id="forgotPin">Forgot Password ?</a>
                </div>


            </form>	<br />
            <div class="login_below">
                    <span>For Support : <b> 080-45114580/81</b><br /></span>

                    <span>Email :<b><a href="mailto:cs@i-on.in">cs@i-on.in</a></b></span><br />

                <span style="margin-top:5px; display:block; margin-bottom:7px;">Web Portal :<b><a href="https://customer.i-on.in/" target="_blank">https://customer.i-on.in/</a></b></span>
                        <img src=content/images/MITLogo.jpg />


            </div>
        </div>
		
        <div id="stspagelogo">
            <h3 style="margin:5px;color:#FFF !important;text-align:center">You are logged in successfully</h3>
			<div id="stsfedbck">
					<p> <a href=http://hostel.manipal.edu target="_blank">http://hostel.manipal.edu</a></p>

			</div>
			
            <p>
                Click here for logout <br>
                <input type="submit" id="btnLogout" value="Logout" onclick="javascript: return sclogout();" class="submit" style="width: 150px !important;">
            </p>
			
            <div style="text-align:center;">
                        <a href=https://customer.i-on.in/ target="_blank">
                            <img src=https://wificrm.myion.in/DocsMgmt/AdvertisementDocs/MITNstatuspage_note_text/text1.jpg style="max-width:400px" />
                        </a>

            </div>
        </div>
        <div class="media_nav1">
            <br />
            <a href="https://itunes.apple.com/in/app/ion-app/id1134917244?mt=8" target="_blank"><img src="content/images/IOS.gif" width="28%" /></a>
            <a href="https://play.google.com/store/apps/details?id=com.retails.ion&hl=en" target="_blank"><img src="content/images/Google-Play.gif" width="28%" /></a>
        </div>
    </section>


    <section style="display:none">
        <div class="center_section">
            <div class="page current_page" id="login">
                <div class="row">
                    <h3 class="small_txt">Mobile Number <span>*</span></h3>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 button_top1">
                        <select class="country" id="loginCountry">
                            <option value="91">India</option>
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 button_top2">
                        
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 button_top3">
                        <input type="button" class="form-control btn-primary" id="btnLogin" value="Login" style="border:none;display:none;">
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" text-align: center;display:none" id="dvvideolink">
                        <h4><a href="javascript:void(0);" id="aFreeData">Click here to earn free data</a></h4>
                    </div>
                </div>

                <div class="btn-group-justified btn_container btn_container" role="group" aria-label="..." style="display:none">
                    <div class="btn_margin" role="group">
                        <button type="button" class="btn btn-default" id="btnViewPlan" style="display:none"><img class="img-responsive" src="content/images/PLAN.png" /></button>
                    </div>
                    <div class="btn_margin" role="group">
                        <button type="button" class="btn btn-info" id="btnPaidPlan" style="display:none"><img class="img-responsive" src="content/images/PAID_PACK.png" /></button>
                    </div>
                    <div class="btn_margin" role="group">
                        <button type="button" class="btn btn-primary" id="btnGoVoucherPlan" style="display:none"><img class="img-responsive" src="content/images/VOUCHER.png" /></button>
                    </div>
                </div>

            </div>

            <div class="page" id="otp" style="display:none">

                <div style="text-align:center;">
                    <i class="glyphicon glyphicon-chevron-left history_back"></i>
                </div>

                <div class="row">
                    <h3 class="small_txt">Enter PIN <span>*</span></h3>

                    <div class="col-lg-4 col-md-4  col-sm-6 col-xs-6">
                        
                    </div>

                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-6">
                        <input type="button" class="form-control btn-primary" id="btnOTPVerify" value="Login" style="border:none;">
                        <input type="button" class="form-control btn-primary" style="display:none" id="btnForgotOTPVerify" value="Login" style="border:none;">
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h4>PIN has been sent to <span id="xxxMobile"></span> </h4>
                        <p id="divResendOTP" style="display:none">Didn't receive PIN ? <a style="color:#06C; cursor:pointer;" id="resendPin">Resend PIN</a></p>
                        <p id="divForgotOTP" style="display:none">Didn't receive PIN ? <a style="color:#06C; cursor:pointer;" id="forgotPin">Resend PIN</a></p>
                    </div>
                </div>
            </div>


            <div class="page" id="status" style="display:none">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="#" id="linkSurfURL1" style="color: green; text-align: left; z-index: 10002; position: absolute; margin-left: 1%; display: inline-block;" target="_blank">Click here to enjoy internet....</a>
                        <br />
                        <h3 class="small_txt">Dear Subscriber,</h3>
                        <p>Congratulation! You are successfully Logged In!</p>

                        <div class="table table-responsive">
                            <table class="table-striped table-bordered" style="width:100%">
                                <tr><th>Your User Name is</th>			<td><span id="spanUsername"></span></td></tr>
                                <tr><th>Framed IP</th>					<td><span id="spanFramIP"></span></td></tr>
                                <tr><th>Session Time</th>				<td><span id="spanSessionTime"></span></td></tr>
                                <tr><th>Download Data (MB)</th>			<td><span id="spanDownloadData"></span></td></tr>
                                <tr><th>Upload Data (MB)</th>			<td><span id="spanUploadData"></span></td></tr>
                                <tr><th>Plan Data (MB)</th>				<td><span id="spanPlanData"></span></td></tr>
                                <tr><th>Available Data (MB)</th>		<td><span id="spanAvailableData"></span></td></tr>
                                <tr><th>Used Data (MB)</th>				<td><span id="spanUsedData"></span></td></tr>
                            </table>
                        </div>
                        <button class="btn btn-primary my_btn" id="btnselfcare">Manage Account</button>
                        <button class="btn btn-info my_btn1" id="btnLogout">Logout</button>
                    </div>
                </div>
            </div>


            <div class="page" id="logout" style="display:none">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>You have successfully logged out</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input type="button" class="form-control btn-primary" id="btnReLogin" value="Login">
                    </div>
                </div>
            </div>

            <div class="page" id="paidplan" style="display:none">

                <div style="text-align:center;">
                    <i class="glyphicon glyphicon-chevron-left history_back"></i>
                </div>

                <div class="row" style="padding:20px 0px;">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <h4 style="display:none">Your Plan has expired Click on one of the plan to continue</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" style="display:none;">
                        <input type="button" class="form-control btn-primary account_mng" id="account" value="Manage Account">
                    </div>
                </div>

                <div class="row" id="dvpgline">
                    <div class="bg-info" style="text-align:center; width:100%; padding:10px;">
                        <h4>By clicking plans, it will re-direct to payment gateway</h4>
                    </div>
                </div>

                <div class="row">

                    <div id="dvPaidPlan">
                    </div>

                    <div class="btn_margin col-md-12 col-sm-12 col-xs-12" role="group" style="text-align:center; width:100%;" id="dvvoucherbtn">
                        <button type="button" class="btn btn-primary vcr_btn"><img class="img-responsive" src="content/images/VOUCHER.png" /></button>
                    </div>


                    <form class="form-inline col-md-12 col-sm-12 col-xs-12" style="padding:0 15px; text-align:center;" id="dvvoucherpin">
                        <div class="form-group">
                            <input type="text" class="form-control for_btn" placeholder="Enter voucher pin" id="vPin">
                        </div>
                        <div class="form-group">
                            <input type="button" class="form-control btn-primary for_btn" value="Login" id="btnVoucher">
                        </div>
                    </form>

                </div>

            </div>



            <div class="page" id="viewplan" style="display:none">

                <div style="text-align:center;">
                    <i class="glyphicon glyphicon-chevron-left history_back"></i>
                </div>
                <div class="row">
                    <div class="bg-info" style="text-align: center; width: 100%; padding: 10px; margin-top: 10px;">
                        <h4>Available Paid Packs</h4>
                    </div>
                </div>
                <div class="row" id="dvViewPlan">
                </div>
            </div>


            <div class="page" id="hybridplan" style="display:none">

                <div style="text-align:center;">
                    <i class="glyphicon glyphicon-chevron-left history_back"></i>
                </div>

                <div class="row">
                    <div class="col-lg-4  col-md-4 col-sm-6 col-xs-6" style="margin-bottom: 10px; margin-top:10px;">
                        <a href='javascript:void(0)' id="choosepaidplan">
                            <img class="img-responsive pag5_img" src="content/images/01.png" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-offset-4 col-md-4 col-sm-6 col-xs-6" style="margin-bottom: 10px; margin-top:10px;">
                        <a href='javascript:void(0)' id="choosecurrentplan">
                            <img class="img-responsive pag5_img" src="content/images/02.png" />
                        </a>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table table-responsive">
                            <table class="table-striped table-bordered" style="width:100%">
                                <tr>
                                    <th style="padding: 7px; background-color: #9ed9ff"> Active Paid Plan</th>
                                    <td><span id="txtPaidPlanMRP"></span></td>
                                    <td><span id="txtPaidPlanTotalData"></span></td>
                                    <td><span id="txtPaidPlanValidity"></span></td>
                                </tr>
                                <tr>
                                    <th style="padding: 7px; background-color: #9ed9ff"> Data Balance</th>
                                    <td></td>
                                    <td></td>
                                    <td><span id="txtPaidPlanDataBalance"></span></td>
                                </tr>
                                <tr>
                                    <th style="padding: 7px; background-color: #9ed9ff"> Valid Until</th>
                                    <td></td>
                                    <td></td>
                                    <td><span id="txtPaidPlanExpiry"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <h3 class="text-center small_txt" id="offerStatement" style="display:none;"> <marquee>OFFER : RECHARGE 20 ENJOY 2 GB DATA OFFER : RECHARGE </marquee> </h3>



            <div class="img_div" id="dvsliderPostLogin" style="display:none">

                        <img class="img-responsive" src="content/images/Picture1.jpg" />


            </div>

            <div class="footer_txt" style="display:none">
                <p>By Selecting Login you are Accepting to</p>
                <span><a href="/termAndCond.html" target="_blank"> Terms & Conditions.</a></span><br />
                <span><a href="/FAQ.html" target="_blank"> FAQ </a></span>
            </div>
        </div>

    </section>
    <section class="right_section">

        
        <div class="media_nav">
            <b>Connect with us</b>
            <ul>
                <li><a class="fa fa-facebook" href="https://facebook.com/highspeedION" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com/highspeedION" target="_blank"></a></li>
                <li><a class="fa fa-youtube" href="https://www.youtube.com/playlist?list=PLDpDiqtoNxmieTjBEEiQIiDLe0Ole2oBP" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com/highspeedion/" target="_blank"></a></li>
            </ul>
        </div>
    </section>

</main>



        <div class="loading_overlay" style="display: none; font-family: Arial;">
            <div>
                <img src="content/images/loading.gif" alt="img" />
            </div>
        </div>

        


        <!----- Sweet Alert -JS  ------>
        <script type="text/javascript" src="content/plugins/sweetalert/sweetalert2.min.js"></script>



        <div id="urllist" style="display:none;visibility:hidden">
            <div style="display:none;" data-url="/Home/HitCount" id="UrlHomeHitCount"></div>
            <div style="display:none;" data-url="/Home/GetApDetail" id="UrlHomeGetApDetail"></div>
            <div style="display:none;" data-url="/Home/CheckCustomerStatus" id="UrlHomeCheckCustomerStatus"></div>
            <div style="display:none;" data-url="/Home/GetCPConfiguration" id="UrlHomeGetCPConfiguration"></div>
            <div style="display:none;" data-url="/Home/GetPlanList" id="UrlHomeGetPlanList"></div>
            <div style="display:none;" data-url="/Home/GetCountryList" id="UrlHomeGetCountryList"></div>
            <div style="display:none;" data-url="/Home/GenerateOTP" id="UrlHomeGenerateOTP"></div>
            <div style="display:none;" data-url="/Home/CheckUserWithSameMobilenumber" id="UrlHomeCheckUserWithSameMobilenumber"></div>
            <div style="display:none;" data-url="/Home/OTPVerification" id="UrlHomeOTPVerification"></div>

            <div style="display:none;" data-url="/Home/WiFiRegistration" id="UrlHomeWiFiRegistration"></div>
            <div style="display:none;" data-url="/Home/CheckSpidioAdAvailability" id="UrlHomeCheckSpidioAdAvailability"></div>

            <div style="display:none;" data-url="/Home/GetPaidPlanDetailsOfRetailCustomer" id="UrlHomeGetPaidPlanDetailsOfRetailCustomer"></div>
            <div style="display:none;" data-url="/Home/SendSpidioAdScript" id="UrlHomeSendSpidioAdScript"></div>

            <div style="display:none;" data-url="/Home/FreePlanEligibility" id="UrlHomeFreePlanEligibility"></div>
            <div style="display:none;" data-url="/Home/DoFreeRenewal" id="UrlHomeDoFreeRenewal"></div>
            <div style="display:none;" data-url="/Home/CheckSpidioPlanOption" id="UrlHomeCheckSpidioPlanOption"></div>
            <div style="display:none;" data-url="/Home/ViewCurrentPlanDetail" id="UrlHomeViewCurrentPlanDetail"></div>
            <div style="display:none;" data-url="/Home/GetConcurrentSession" id="UrlHomeGetConcurrentSession"></div>

            <div style="display:none;" data-url="/Home/ResendOTPGeneration" id="UrlHomeResendOTPGeneration"></div>
            <div style="display:none;" data-url="/Home/ForgotPasswordOTPGeneration" id="UrlHomeForgotPasswordOTPGeneration"></div>
            <div style="display:none;" data-url="/Home/ResendOTPVerification" id="UrlHomeResendOTPVerification"></div>
            <div style="display:none;" data-url="/Home/RenewOnline" id="UrlHomeRenewOnline"></div>
            <div style="display:none;" data-url="/Home/GetUserByRequestId" id="UrlHomeGetUserByRequestId"></div>
            <div style="display:none;" data-url="/Home/RenewVoucher" id="UrlHomeRenewVoucher"></div>

            <div style="display:none;" data-url="/Home/GenerateOTPForVoucherRegistration" id="UrlHomeGenerateOTPForVoucherRegistration"></div>
            <div style="display:none;" data-url="/Home/GenerateOTPForOnlinePayRegistration" id="UrlHomeGenerateOTPForOnlinePayRegistration"></div>

            <div style="display:none;" data-url="/Home/RegistrationWithVoucher" id="UrlHomeRegistrationWithVoucher"></div>
            <div style="display:none;" data-url="/Home/RegistrationWithOnlinePay" id="UrlHomeRegistrationWithOnlinePay"></div>

            <div style="display:none;" data-url="/Home/RegistrationWithOnlinePay" id="UrlHomeRegistrationWithOnlinePay"></div>
            <div style="display:none;" data-url="/Home/GetCustomerDetail" id="UrlHomeGetCustomerDetail"></div>
            <div style="display:none;" data-url="/Home/ExistBulkUploadUserupdate" id="UrlHomeExistBulkUploadUserupdate"></div>
            <div style="display:none;" data-url="/Home/GetAdsList" id="UrlHomeGetAdsList"></div>
            <div style="display:none;" data-url="/Home/WiFiRegistrationSpidio" id="UrlHomeWiFiRegistrationSpidio"></div>
            <div style="display:none;" data-url="/Home/DisconnectUser" id="Urldisconnectuser"></div>
            <div style="display:none;" data-url="/Home/CheckPreRegisteredUser" id="UrlCheckPreRegisteredUser"></div>
            <div style="display:none;" data-url="/Home/RedirectSelfCare" id="UrlRedirectToSelfCare"></div>
            <input type="hidden" id="hndcontroller" value="scintegrationMtk.js" />

        </div>
    </main>
</body>
</html>

